/* #-#-#  Base Typographic Styles  #-#-# */

/* --- Font Imports --- */
@font-face {
  font-family: 'RobotoReg';
  src: url('fonts/Roboto-Regular.ttf');
  font-weight: 400;  
}

/* --- General Typesetting  --- */

body {
  font: 400 normal 11px/13px 'RobotoReg', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li, td,
.h1, .h2, .h3, .h4, .h5, .h6, .p, .li, .td {
  
}

h1 {
  font: 400 normal 11px/13px sans-serif;
}

/* --- Specific Typesetting  --- */

.title,
.subtitle {
  
}

.note {
  
}