h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

footer {
  padding: 15px;
}

footer a {
  font-family: 'Open Sans', sans-serif;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.monogram {
  max-height: 45px;
  vertical-align: middle;
  margin-right: 15px;
}

strong {
  font-weight: 800;
}

p, li, td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

p .material-icons,
li .material-icons {
  margin-right: 10px;
}

ul ul {
  margin: 8px 15px;
}

/* --- Mobile <= 600px */
@media screen and (max-width: 600px) {

  .parallax-container {
/*    max-height: 300px;*/
  }
  
}