/* --- A R T E M I S   B U R G E R  |  T H E M E   S T Y L E S --- */

body {
  background-color: #fff;
  color: #5A4643;
}

.no-marg-bot {
  margin-bottom: 0;
}

.material-icons {
  margin: 0 10px;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #8EB734;
  background-color: #8EB734;
  border-radius: 50%;
  top: 2px;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 2px solid #8EB734;
  border-radius: 50%;
  top: 2px;
}

/*

--- Colors

Leaf Green 
#8EB734

Tomato 
#AC4C3D

Sesame 
#B6AE96
rgba(182, 174, 150, 0.25)

Cool Brown
#5A4643

*/

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(182, 174, 150, 0.25);
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  padding: 5px;
  font-style: italic;
}

a, a:link, a:hover, a:visited, a:active {
  color: inherit;
}

#main a,
#footer a,
.modal a {
  color: #8EB734;
  text-decoration: underline;
}

#main a:hover,
#footer a:hover,
.modal a:hover {
  text-decoration: none;
}

a.btn,
input.btn,
button.btn {
  background-color: #8EB734;
  color: #fff;
  text-decoration: none;
}

a.btn:hover,
input.btn:hover,
button.btn:hover {
  background-color: #B6AE96;
}

/* - - -   - - - Core Layout - - -   - - - */

/* --- Nav */
#main-nav {
  background-color: #8EB734;
}
#main-nav ul li {
  margin: 0;
}

nav a.sidenav-trigger {
  display: block;
}

#nav-mobile header {
  padding: 15px;
}

/* --- Banner */
#banner {
  background-color: #AC4C3D;
}

#banner img {
  width: 100%;
  margin: 0 auto -5px;
}

/* --- Main */
#main {}

#main #intro {}

#main .checklist {}

#main .checklist li li {
    margin: 15px;
}

#main .note-block {}

#main .note-block .note-label p {
  float: right;
  text-align: right;
}

/* --- Asides */
.note-description {}

/* --- Footer */
#footer {
  background-color: #AC4C3D;
}


/* - - -   - - - Media Queries - - -   - - - */

/* --- Mobile <= 600px */
@media screen and (max-width: 600px) {

  #main .note-block .note-label p {
    float: left;
    text-align: left;
  }
  
}

/* --- Tablet > 600px */
@media screen and (min-width: 601px) {
  
}

/* --- Laptop > 992px */
@media screen and (min-width: 993px) {
  
  #logo-container img.responsive-img {
    max-height: 50px;
    margin: 7px auto;
  }
  
}

/* --- Desktop > 1200px */
@media screen and (min-width: 1201px) {
  
  
  
}